body {
    background-color: royalblue;
    cursor: pointer;
    color: #fff;
    height: 100vh;
}

h1 {
    font-size: 50px;
}

.box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

