body {
    transition: background-color 15s;
    background-color: black;
    width: 100vw;
    height: 100vh;
}
h1{
    font-size: 50px;
}

h1, h2{
    color: white;
    text-align: center;
    
    font-weight: bold;
    font-family: Monospace;
    margin: 0;
    text-shadow: 3px 3px 15px white;
}

div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.circle{
    width: 300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 3px 3px 15px white;
}